<div class="full-scr-wrapper">
    <div class="section" id="SHOW_USERS">
        <button class="action-button" (click)="userShowToggle()"> {{showUsersButtonText}} </button>
        <div class="list-wrapper" *ngIf="showUsers">
            <span *ngFor="let user of users | async">{{user}}</span>
        </div>
    </div>

    <div class="section" id="ADD_USER">
        <form [formGroup]="addUserForm" (submit)="addUserFormSubmit()">
            <button class="action-button" type="submit"> Add User </button>
            <input type="text" placeholder="Username" formControlName="username">
            <input type="email" placeholder="Email" formControlName="email">
            <input type="password" placeholder="Password" formControlName="password">
        </form>
    </div>

    <div class="section">
        <form [formGroup]="deleteUserForm" (submit)="deleteUserFormSubmit()">
        <button class="action-button"> Delete A User </button>
            <input type="text" formControlName="username" placeholder="Username">
        </form>
    </div>
</div>